@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.stApp > header .sidebar .title .sidebar-content .sidebar-item.stTitle {
    font-weight: 400;
    font-style: normal;
}

div[data-testid="stApp"] > div[data-testid="stAppViewContainer"] > section[data-testid="stSidebar"] {
    background-color: #000;
}

section[data-testid="stSidebar"] div[class="st-emotion-cache-vk3wp9"] {
    background-color: #000 !important;
}
.st-emotion-cache-vk3wp9 .eczjsme11 {
    background-color: #000 !important;
    color: #fff; /* Warna teks header diubah menjadi hitam */
}

/* Aturan untuk header */
.stApp > header {
    background-color: transparent;
    color: #49c3f3; /* Warna teks header diubah menjadi hitam */
}

/* Aturan untuk konten utama */
.stApp {
    margin: auto;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   */ overflow: auto;
    background-color: #333;
    /*background: linear-gradient(315deg, #4f2991 3%, #7dc4ff 38%, #36cfcc 68%, #a92ed3 98%);*/
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    color: #fff; /* Warna Teks Hitam */
}

/* Aturan untuk konten utama */
.stApp .main-content {
    margin-left: 20%; /* Menggeser konten utama ke kanan */
    padding: 20px; /* Padding untuk ruang khusus konten */
}

/* Aturan untuk tombol */
.stApp button {
    background-color: #007bff; /* Warna latar belakang tombol */
    color: #383838; /* Warna teks tombol diubah menjadi hitam */
    border: none; /* Tanpa border */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Kursor menunjukkan tindakan dapat dilakukan */
    border-radius: 4px; /* Sudut border-radius */
    font-size: 16px; /* Ukuran font */
    transition: background-color 0.3s ease; /* Efek transisi */
}

.stApp button:hover {
    background-color: #0056b3; /* Warna latar belakang tombol saat hover */
}

/* Aturan untuk kotak pilihan */
.stApp select {
    background-color: #fff; /* Warna latar belakang kotak pilihan */
    color: #000; /* Warna teks kotak pilihan diubah menjadi hitam */
    border: 1px solid #ced4da; /* Border */
    padding: 8px 12px; /* Padding */
    font-size: 16px; /* Ukuran font */
    border-radius: 4px; /* Sudut border-radius */
}

/* Aturan untuk kotak pilihan yang telah dipilih */
.stApp select option:checked {
    background-color: #007bff; /* Warna latar belakang kotak pilihan yang dipilih */
    color: #fff; /* Warna teks kotak pilihan yang dipilih */
}

/* Animasi latar belakang */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
        color: #fff; /* Warna teks diubah menjadi putih */
    }
    50% {
        background-position: 100% 50%;
        color: #000; /* Warna teks diubah menjadi hitam */
    }
    100% {
        background-position: 0% 50%;
        color: #f3e9d2; /* Warna teks diubah menjadi kuning susu */
    }
}


/* Efek hover untuk kotak pilihan */
.stApp select:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan saat hover */
}

/* Efek hover untuk sidebar item */
.stApp .sidebar-item:hover {
    background-color: #e9ecef; /* Warna latar belakang saat hover */
}

